---
title:           Neutrino Wallet - Built for Speed
description:     The fast, light and privacy-preserving Bitcoin Cash wallet.
path:            
og_img:          opengraph-default.jpg
home:            true
---

<section class="hero">
  <div class="hero-background"></div>
  <div class="hero-content container">
    <div class="col hero-text">
      <h1 class="hero-heading">Neutrino</h1>
      <p class="hero-lead">The fast, light and privacy-preserving Bitcoin Cash wallet.</p>
    </div>
    <img src="{{ img_dir }}hero-neutrino-phone.png" class="col img-responsive hero-img">
  </div>
</section>

<section class="minorFeatures">
  <h1 class="minorFeatures-mainHeading">What makes Neutrino so great?</h1>
  <div class="minorFeatures-content wrapper">
    <div class="minorFeature">
      <img src="{{ svg_dir }}ico-speed.svg" class="minorFeature-icon">
      <h2 class="minorFeature-heading">Light &amp; Fast</h2>
      <p class="minorFeature-text">Installs in minutes. No registration required. Opens in seconds.</p>
    </div>
    <div class="minorFeature">
      <img src="{{ svg_dir }}ico-privacy.svg" class="minorFeature-icon">
      <h2 class="minorFeature-heading">Network Privacy</h2>
      <p class="minorFeature-text">Built on the privacy-preserving Neutrino light wallet protocol.</p>
    </div>
    <div class="minorFeature">
      <img src="{{ svg_dir }}ico-network.svg" class="minorFeature-icon">
      <h2 class="minorFeature-heading">Robust Network</h2>
      <p class="minorFeature-text">Connect to any Neutrino-enabled node rather than third party servers.</p>
    </div>
  </div>
</section>

<section class="feature one">
  <img src="{{ img_dir }}feature-01-desktop.png" class="feature-background">
  <div class="feature-content container">
    <div class="col feature-textWrapper">
      <p class="feature-cheekyText">Need for Speed</p>
      <h1 class="feature-heading">Blazing Fast</h1>
      <p class="feature-lead">This may be the fastest Bitcoin Cash wallet on the market.</p>
      <p class="feature-text">Neutrino was designed from the ground up to be the fastest mobile wallet available for Bitcoin Cash. Its lightweight design means Neutrino starts up in seconds, and the intuitive design allows you to spend immediately. You'll be amazed how fast you can start transacting on the Bitcoin Cash network.</p>
    </div>
  </div>
</section>
<section class="feature two">
  <img src="{{ img_dir }}feature-02-desktop.png" class="feature-background">
  <div class="feature-content container">
    <div class="col feature-textWrapper">
      <p class="feature-cheekyText">Shields up</p>
      <h1 class="feature-heading">Privacy First</h1>
      <p class="feature-lead">Network-level privacy is baked directly into the protocol.</p>
      <p class="feature-text">All existing light wallets can expose your financial history to third parties. Neutrino helps plug this leak by rethinking the way light wallets work. Rather than sending your addresses to third-party servers, Neutrino pulls directly from the Bitcoin Cash network and filters transactions on your mobile device. This is one step closer to preserving your financial anonymity.</p>
    </div>
  </div>
</section>
<section class="feature three">
  <img src="{{ img_dir }}feature-03-desktop.png" class="feature-background">
  <div class="feature-content container">
    <div class="col feature-textWrapper">
      <p class="feature-cheekyText">Rock Solid</p>
      <h1 class="feature-heading">More Robust</h1>
      <p class="feature-lead">Connect to any Neutrino-enabled node on the Bitcoin Cash network.</p>
      <p class="feature-text">Traditional light wallet developers require that you to connect to their own servers to transact. If those servers go down for any reason you could lose access to your money. With Neutrino, everything changes. Every single node on the Bitcoin Cash network has the potential to act as a server for your wallet. As long as the Bitcoin Cash is operational, Neutrino will have somewhere to connect.</p>
    </div>
  </div>
</section>

<section class="faqs">
  <h1 class="faqs-heading">Frequently Asked Questions</h1>
  <div class="container">
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">Overview</h2>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What is Neutrino?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Neutrino is a brand new Bitcoin light client written in Go and designed with mobile wallet apps in mind.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>So is it a wallet or a protocol?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Both. The app on this page is the first mobile wallet that uses the Neutrino protocol, but in the future we expect more mobile wallets to build on top of Neutrino.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>Who are the people behind Neutrino?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>The Neutrino protocol was developed by Roasbeef and other BTC contributors as part of the broader Lightning Network project. This protocol was ported to the Bitcoin Cash network as part of the <a href="https://bchd.cash/" target="_blank">bchd project<img src="{{ svg_dir }}extlink.svg" class="extLink"></a> and this Neutrino Wallet app was created by Chris Pacia.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>Any plans for an iOS version?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Not yet, but if you're an interested iOS developer please get in touch.</p>
        <p>The wallet is built on a golang service called <a href="https://github.com/gcash/bchwallet" target="_blank">bchwallet<img src="{{ svg_dir }}extlink.svg" class="extLink"></a> that does the heavy lifting, so a talented iOS developer shouldn't have too much trouble creating the frontend code.</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">Privacy</h2>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What is network-level privacy?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>This refers to leaking as little information as possible to the peers or servers that your wallet connects to.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>Why is network-level privacy important?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Most mobile wallet applications currently disclose all the addresses in your wallet and your entire transaction history to third party servers. Although in most cases those servers are reputable and trustworthy, it is far better not to leak that data in the first place.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>Will this keep my transactions secret?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>No. Neutrino does not turn Bitcoin Cash into a "privacy coin" like Monero. Eventually it can be combined with other privacy protocols such as <a href="https://cashshuffle.com/" target="_blank">CashShuffle<img src="{{ svg_dir }}extlink.svg" class="extLink"></a> in order to improve your overall financial privacy.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What about when I send Bitcoin Cash?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Neutrino's design means that your financial information is not leaked when receiving payments. To increase privacy when sending transactions, Neutrino also supports the use of Tor.</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">Filtering</h2>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>How do traditional mobile wallets work?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Mobile wallets need to know if there was a transaction related to your address without downloading the entire blockchain. There are different ways they achieve this, but in all cases it involves telling a third party server which addresses belong to you.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What is client-side filtering?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Neutrino's client-side filtering means you no longer have to disclose your Bitcoin address to find out if you have received a transaction. Neutrino downloads a hyper-compressed representation of each block, and your mobile phone checks to see if any transactions are related to you.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>Doesn't this increase bandwidth?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Yes it does, but when you crunch the numbers it’s not that bad. Even with large blocks (e.g. 100MB) the data usage is within the range of a typical mobile data plan. If you need to save even more bandwidth you can always adjust how the wallet syncs unconfirmed transactions.</p>
      </div>
    </div>
    <div class="faqsBlock">
      <h2 class="faqsBlock-heading">Network</h2>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What nodes can I connect to?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Neutrino can connect to any full node that supports the Neutrino protocol. This is currently limited to nodes running the bchd implementation.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>How does Neutrino deal with forks?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Traditional SPV wallets would follow the longest chain regardless of whether that chain was valid. Neutrino can at least perform sanity checks on the blocks that it downloads. For example, Neutrino will validate that blocks follow canonical transaction ordering and do not contain any invalid opcodes.</p>
      </div>
      {{!-- Begin Question --}}
      <div class="faqs-q">
        <p><span class="leading">Q</span>What if a node "lies by omission"?</p>
      </div>
      <div class="faqs-a">
        <p><span class="leading">A</span>Traditional SPV wallets could be made to believe a transaction didn't happen if the server they connect to lies by omission. This is not possible with Neutrino. Attempts to bamboozle the wallet can be detected and the peer will be banned.</p>
      </div>
    </div>
  </div>
</section>

<section class="footerCodes">
  <div class="container">
    <div class="footerCode">
      <a href="https://github.com/gcash/android-neutrino" target="_blank" class="footerCode-link">
        <img src="{{ svg_dir }}ico-github.svg" class="footerCode-icon">
        <h2 class="footerCode-heading">Source Code <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h2>
        <p class="footerCode-text">The Neutrino app is open source. Feel free to audit or improve the code.</p>
      </a>
    </div>
    <div class="footerCode">
      <a href="https://medium.com/@bchd.cash/announcing-neutrino-wallet-for-bitcoin-cash-eb7a85a49c0e" target="_blank" class="footerCode-link">
        <img src="{{ svg_dir }}ico-docs.svg" class="footerCode-icon">
        <h2 class="footerCode-heading">Announcement <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h2>
        <p class="footerCode-text">Read the official launch statement from the bchd team to learn more about Neutrino.</p>
      </a>
    </div>
    <div class="footerCode">
      <a href="https://blog.lightning.engineering/posts/2018/10/17/neutrino.html" target="_blank" class="footerCode-link">
        <img src="{{ svg_dir }}ico-docs.svg" class="footerCode-icon">
        <h2 class="footerCode-heading">Overview <img src="{{ svg_dir }}extlink-footer.svg" class="footer-extLink"></h2>
        <p class="footerCode-text">This blog post by Lightning Labs explains the reasons behind and the technical details of the Neutrino protocol.</p>
      </a>
    </div>
  </div>
</section>

<div id="modal">
  <div class="modal-content">
    <h1 class="modal-heading">Beta Warning</h1>
    <span class="modal-border"></span>
    <p class="modal-text">The Neutrino wallet is currently in beta and loss of funds could occur. Download and use at your own risk.</p>
    <a class="btn btn-secondary modal-continue" href="https://play.google.com/store/apps/details?id=cash.bchd.android_neutrino" target="_blank">Let's do it!</a>
    <a class="modal-close" href="#">Cancel</a>
  </div>
</div>
